src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <apikit:config name="APIkit-Router" api="" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="APIKit" doc:name="HTTP Listener config" doc:id="ba09f4b1-fa7b-444e-ab11-476f0119cf9e">
        <http:listener-connection host="0.0.0.0" port="1111" />
    </http:listener-config>
    <http:listener-config name="httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <flow name="flow-init" doc:id="ec782a22-eff5-4e7d-ba82-b9cbd724627f">
        <http:listener doc:name="Listener" doc:id="1db00d4f-7eed-49ab-8547-de95853ab53a" config-ref="APIKit" path="/not_used" />
		<json-logger:logger doc:name="Logger" doc:id="05ae8979-4104-44da-8cce-29f6addf428d" config-ref="JSON_Logger_Config" message="init" priority="DEBUG">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: payload,
    attributes: attributes
}]]]></json-logger:content>
		</json-logger:logger>
		<flow-ref doc:name="init_variables" doc:id="1f397cf5-bdc1-4f2b-ab2e-4a9bba88d9b3" name="init_variables" />
        <apikit:router config-ref="APIkit-Router" />
    </flow>
    <flow name="flow-main">
        <http:listener config-ref="httpListenerConfig" path="/${app.name}/${api_version}/*">
            <non-repeatable-stream />
			<http:response statusCode="#[vars.httpStatus default 200]">
                <http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"header": vars.response_header,
	"data": vars.response_data,
	"error": vars.response_error
}]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	"header": vars.response_header,
	"data": vars.response_data,
	"error": vars.response_error
}]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="flow-init" doc:id="36b8e6c8-8a9e-48fd-b1b2-0ef5bda0edb7" name="flow-init" />
        <flow-ref doc:name="metrics_http" doc:id="e9ed12ac-0bcb-4564-8b3f-1e2e7d0572e3" name="metric_http" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="45a46b36-3fab-4e03-90a4-f1782f7b682d" >
				<flow-ref doc:name="metric_http" doc:id="119ee7eb-6e5a-4d40-bfaa-4ba6a080a98e" name="metric_http" />
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
